<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Page</title>
  
  </head>

  <body>
    <h1> Unapproved Projects </h1>
    <% projects.forEach(function(project, index){ %>
      
       <!-- fix this to make it approved == 1 -->
        <% if (project.approved == 0) { %>
              <div class="project" id= <%= project._id %> >
                <h2> <a href=<%= project.demo_link %>> <%= project.app_name %> </a></h2>
                <div id="app_image">
               <img width='200px' height='200px' src= <%= "https://s3-us-west-2.amazonaws.com/penn-open-source/images/" + project._id + ".jpg" %> />
                </div>
                <p> <%= project.description %> </p>
                <p> built by: <%= project.builders %>, at <%= project.location %> </p>
                    <% if (project.github_permis == 'yes') { %>
                        <p> <a href= <%= project.github %> > Github </a> </p>
                    <% } %>

                <p> Tags: <%  %>
                  <% var array = project.tags.split(","); %>

                  <% for(var i=0; i<array.length; i++) { %>
                  <a href =  <%= '/tag/' + array[i].trim() %> > <%= array[i] %></a>  
                  <% } %>
                </p>
             <a href = /edit/<%= project._id %> >Edit </a>
              </div>
        <% } %> 
    <% }) %>

    <h1> Approved Projects </h1>
 <% projects.forEach(function(project, index){ %>
      
       <!-- fix this to make it approved == 1 -->
        <% if (project.approved == 1) { %>
              <div class="project" id= <%= project._id %> >
                <h2> <a href=<%= project.demo_link %>> <%= project.app_name %> </a></h2>
                <div id="app_image">
               <img width='200px' height='200px' src= <%= "https://s3-us-west-2.amazonaws.com/penn-open-source/images/" + project._id + ".jpg" %> />
                </div>
                <p> <%= project.description %> </p>
                <p> built by: <%= project.builders %>, at <%= project.location %> </p>
                    <% if (project.github_permis == 'yes') { %>
                        <p> <a href= <%= project.github %> > Github </a> </p>
                    <% } %>

                <p> Tags: <%  %>
                  <% var array = project.tags.split(","); %>

                  <% for(var i=0; i<array.length; i++) { %>
                  <a href =  <%= '/tag/' + array[i].trim() %> > <%= array[i] %></a>  
                  <% } %>
                </p>
             <a href = /edit/<%= project._id %> >Edit </a>
              </div>
        <% } %> 
    <% }) %>




  </body>


  </html>