<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

     <link href="" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Submit an Application</title>
    <script>
            
    </script>

  </head>

  <body>
   
    Volunteer Home Portal

<div id= <%= next_app._id %> >
  <p> <%= next_app._id %> </p>
  <p> Organization Name: <%= next_app.organization_name %> </p>
  <p> Organization URL: <%= next_app.organization_url %> </p>
  <p> Address: <%= next_app.organization_address %> </p>
  <p> Reviews Submitted: <%= next_app.reviews_submitted.length %> </p>
  <form method="POST" action=<%= '/review/create/' + next_app._id %>>
    <input type='submit' value="Create Review">
  </form>

</div>

  </body>


  </html>