<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

     <link href="" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Submit an Application</title>
    <script>
      
      

    </script>



  </head>

  <body>


    <div id="applications">
  <table style="width:100%">
  <tr>
    <th>Name</td>
    <th>Avg. Rating</td>
    <th>Kiva Fit</td>
    <th>Business Model</td>
    <th>Social Impact</td>    
    <th>Reviews Submitted</td>   
    <th>Open to review</td> 
  </tr>


    <% applications.forEach(function(application){ %>
     <tr>
            <td> <%= application.organization_name %> </td>
            <td> <%= application.score_sum %> </td>
            <td> <%= application.kiva_fit_count %> </td>
            <td> <%= application.sustainable_model_count %> </td>
            <td> <%= application.clear_social_impact_count %> </td>
            <td> <%= application.reviews_submitted.length %> </td>     
            <td> <%= application.open_to_review %> </td>            
     </tr>

    <% }) %>
   </table>



  </body>


  </html>